<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, {:style => 'color:#fff;font-weight: 600; font-size:0.8em;'} %><br/>
    <%= f.text_field :name, autofocus: true %>

  </div>
  <div class="field">
    <%= f.label :email, {:style => 'color:#fff;font-weight: 600; font-size:0.8em;font-weight: 600; font-size:0.8em;'} %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, {:style => 'color:#fff;font-weight: 600; font-size:0.8em;'} %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, {:style => 'color:#fff;font-weight: 600; font-size:0.8em;'} %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", {:style => 'color:#000;font-weight: 600; font-size:0.8em;'} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
